<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>
<body>
<div class="container">
<h3><a href="/add">Schedule new Task</a></h3>
<div class="row" style="align-content: center">
    <div class="card" th:each="task : ${todos}" style="width: 18rem; margin: 10px">
        <div class="card-body">
    <h5 class="card-title" th:text="${task.name}"></h5>
    <p th:text="${task.date}"></p>
    <p th:text="${task.priority}"></p>
    <p>
        <img th:if="${task.priority.equals('High')}" width="50" height="50" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/whatsapp/215/upwards-black-arrow_2b06.png"/>
        <img th:if="${task.priority.equals('Low')}"  width="50" height="50" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/whatsapp/215/downwards-black-arrow_2b07.png"/>
        <img th:if="${task.completed}" width="50" height="50" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/whatsapp/215/heavy-check-mark_2714.png"/>
    </p>
    <p>
        <a th:href="@{/view/{id}(id=${task.id})}">View</a>
        <a th:href="@{/update/{id}(id=${task.id})}">Update</a>
        <a th:href="@{/complete/{id}(id=${task.id})}">Complete</a>
    </p>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>