<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="/add">Schedule new Task</a></h1>
<span th:text="${todo.name}"></span><br />
Complete by: <span th:text="${todo.date}"></span><br />
Priority: <span th:text="${todo.priority}"></span><br />
Completed: <span th:text="${todo.completed}"></span><br />
<table>
    <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Priority</th>
    </tr>
    <tr th:each="task : ${todos}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.date}"></td>
        <td th:text="${task.priority}"></td>
        <td>
            <img th:if="${task.priority.equals('High')}" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/whatsapp/215/upwards-black-arrow_2b06.png"/>
        </td>
        <td>
            <img th:if="${task.priority.equals('Low')}"  src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/whatsapp/215/downwards-black-arrow_2b07.png"/>
        </td>
        <td>
            <img th:if="${task.completed}" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/whatsapp/215/heavy-check-mark_2714.png"/>
        </td>
        <td>
            <a th:href="@{/view/{id}(id=${task.id})}">View</a>
            <a th:href="@{/update/{id}(id=${task.id})}">Update</a>
            <a th:href="@{/complete/{id}(id=${task.id})}">Complete</a>
        </td>
    </tr>
</table>
</body>
</html>